@import url("https://fonts.googleapis.com/css?family=Averia+Sans+Libre|Muli");
* {
  box-sizing: border-box; }

a {
  text-decoration: none !important; }

.intro_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .intro_wrap h3 {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 3em;
    margin: 0;
    margin-top: 2rem;
    color: #371443; }

.form-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  margin-top: 3.7rem;
  margin-bottom: 3rem; }

.form-group_1 {
  position: relative;
  margin: 0;
  margin-bottom: 0.8rem; }
  .form-group_1 label {
    position: absolute;
    font-family: 'Muli', sans-serif;
    margin-top: -1.3rem; }
  .form-group_1 img {
    position: absolute;
    width: 13%;
    margin-top: 0.45rem;
    margin-left: 10rem; }
  .form-group_1 input {
    background-color: #afb0be;
    outline: none;
    transition: background-color 350ms ease 0s;
    color: white;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: solid 2px #AFB0BE;
    width: 13rem;
    height: 2rem; }
  .form-group_1 input::placeholder {
    color: white;
    font-family: 'Muli', sans-serif;
    padding-left: 0.5rem; }
  .form-group_1 input:focus {
    background-color: #f8669f;
    color: white;
    border: solid 2px #f8669f; }

.form-group_2 {
  position: relative;
  margin-bottom: 0.8rem; }
  .form-group_2 label {
    position: absolute;
    font-family: 'Muli', sans-serif;
    margin-top: -1.3rem; }
  .form-group_2 img {
    position: absolute;
    width: 10%;
    margin-top: 0.35rem;
    margin-left: 10.3rem; }
  .form-group_2 input {
    background-color: #afb0be;
    outline: none;
    transition: background-color 350ms ease 0s, border 350ms ease 0s;
    color: white;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: solid 2px #AFB0BE;
    width: 13rem;
    height: 2rem; }
  .form-group_2 input::placeholder {
    color: white;
    font-family: 'Muli', sans-serif;
    padding-left: 0.5rem; }
  .form-group_2 input:focus {
    background-color: #f8669f;
    color: white;
    border: solid 2px #f8669f; }

.form-group_3 {
  position: relative;
  margin: 0; }
  .form-group_3 label {
    position: absolute;
    font-family: 'Muli', sans-serif;
    margin-top: -1.3rem; }
  .form-group_3 img {
    position: absolute;
    width: 10%;
    margin-top: 0.35rem;
    margin-left: 10.3rem; }
  .form-group_3 input {
    background-color: #afb0be;
    outline: none;
    transition: background-color 350ms ease 0s, border 350ms ease 0s;
    color: white;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: solid 2px #AFB0BE;
    width: 13rem;
    height: 2rem; }
  .form-group_3 input::placeholder {
    color: white;
    font-family: 'Muli', sans-serif;
    padding-left: 0.5rem; }
  .form-group_3 input:focus {
    background-color: #f8669f;
    color: white;
    border: solid 2px #f8669f; }

.log-in_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: 100%; }
  .log-in_wrap .log-in {
    padding: 0;
    border-radius: 50px;
    width: 12rem;
    border: none;
    background-image: linear-gradient(bottom, #2dd5cc 0%, #2dd5cc 100%);
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 0px #2FB8BA, 0px 4px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5); }
    .log-in_wrap .log-in h4 {
      margin: 0;
      margin: 0.7rem 0 0.7rem 0;
      font-family: 'Muli', sans-serif;
      font-weight: 300;
      font-style: italic;
      color: #371443; }

.log-in:active {
  border-radius: 50px;
  width: 12rem;
  border: none;
  background-image: linear-gradient(bottom, #22aaa4 0%, #22aaa4 100%);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 0px #248d8f, 0px 4px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5); }

.no_account_wrap {
  display: flex;
  justify-content: flex-start;
  z-index: 100; }
  .no_account_wrap h4 {
    width: 100%;
    position: fixed;
    bottom: 1.9rem;
    color: white;
    z-index: 100;
    font-family: 'Muli', sans-serif;
    font-style: italic;
    font-size: 0.9em;
    padding-left: 0.8rem; }

.bottom_bar_wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 0; }
  .bottom_bar_wrap .bottom_signup {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 0; }
  .bottom_bar_wrap h3 {
    position: absolute;
    color: white;
    bottom: -0.4rem;
    right: 2rem;
    font-family: 'Averia Sans Libre', cursive;
    font-size: 1.7em; }

.ticket {
  display: flex;
  justify-content: center;
  align-items: center; }

@keyframes tear_two {
  0% {
    opacity: 1;
    transform: translate(0px, 0px) rotate(0deg); }
  100% {
    opacity: 0;
    transform: translate(20px, -20px) rotate(-15deg); } }

@keyframes scan {
  0% {
    opacity: 0;
    transform: translate(0, 0); }
  50% {
    opacity: 1;
    transform: translate(190px, 0); }
  75% {
    opacity: 0.8; }
  100% {
    opacity: 0;
    transform: translate(0px, 0); } }

.ticket_22 {
  z-index: 1;
  opacity: 1;
  transform: translate(0px, 0px) rotate(0deg);
  transform-origin: center center; }

.ticket_11 {
  z-index: 1; }

.bar_scan {
  opacity: 0;
  z-index: 2; }

@media screen and (min-width: 375px) {
  .intro_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .intro_wrap h3 {
      font-family: 'Averia Sans Libre', cursive;
      font-size: 3.3em;
      margin: 0;
      margin-top: 2.5rem;
      color: #371443; }
  .form_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    margin-top: 5rem;
    margin-bottom: 3rem; }
  .form-group_1 {
    position: relative;
    margin: 0;
    margin-bottom: 2rem; }
    .form-group_1 label {
      position: absolute;
      font-family: 'Muli', sans-serif;
      margin-top: -1.6rem;
      font-size: 1.3em; }
    .form-group_1 img {
      position: absolute;
      width: 13%;
      margin-top: 0.75rem;
      margin-left: 11.3rem; }
    .form-group_1 input {
      width: 15rem;
      height: 2.5rem; }
  .form-group_2 {
    position: relative;
    margin: 0;
    bottom-margin: 2rem; }
    .form-group_2 label {
      position: absolute;
      font-family: 'Muli', sans-serif;
      margin-top: -1.6rem;
      font-size: 1.3em; }
    .form-group_2 img {
      position: absolute;
      width: 11.5%;
      margin-top: 0.4rem;
      margin-left: 11.38rem; }
    .form-group_2 input {
      width: 15rem;
      height: 2.5rem; }
  .log-in_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.2rem; }
    .log-in_wrap .log-in {
      border-radius: 50px;
      width: 12rem;
      border: none;
      background-image: linear-gradient(bottom, #2dd5cc 0%, #2dd5cc 100%);
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 4px 0px #2FB8BA, 0px 4px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5); }
      .log-in_wrap .log-in h4 {
        margin: 0;
        margin: 0.7rem 0 0.7rem 0;
        font-family: 'Muli', sans-serif;
        font-size: 1.2em;
        color: #371443; }
  .no_account_wrap h4 {
    bottom: 2.2rem;
    font-size: 1.1em;
    padding-left: 0.8rem; }
  .bottom_bar_wrap h3 {
    font-size: 2em; } }

@media screen and (min-width: 414px) {
  .intro_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .intro_wrap h3 {
      font-family: 'Averia Sans Libre', cursive;
      font-size: 4em;
      margin: 0;
      margin-top: 2.5rem;
      color: #371443; }
  .form_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    margin-top: 5rem;
    margin-bottom: 3rem; }
  .form-group_1 {
    position: relative;
    margin: 0;
    margin-bottom: 2.2rem; }
    .form-group_1 label {
      position: absolute;
      font-family: 'Muli', sans-serif;
      margin-top: -1.6rem;
      font-size: 1.3em; }
    .form-group_1 img {
      position: absolute;
      width: 12%;
      margin-top: 1rem;
      margin-left: 12.5rem; }
    .form-group_1 input {
      width: 17rem;
      height: 2.8rem; }
  .form-group_2 {
    position: relative;
    margin: 0; }
    .form-group_2 label {
      position: absolute;
      font-family: 'Muli', sans-serif;
      margin-top: -1.6rem;
      font-size: 1.3em; }
    .form-group_2 img {
      position: absolute;
      width: 9%;
      margin-top: 1rem;
      margin-left: 12.8rem; }
    .form-group_2 input {
      width: 17rem;
      height: 2.8rem; }
  .log-in_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7.5rem; }
    .log-in_wrap .log-in {
      border-radius: 50px;
      width: 67%;
      border: none;
      background-color: #2dd5cc; }
      .log-in_wrap .log-in h4 {
        margin: 0;
        margin: 0.7rem 0 0.7rem 0;
        font-family: 'Muli', sans-serif;
        font-size: 1.4em;
        color: #371443; }
  .no_account_wrap h4 {
    bottom: 2.3rem;
    font-size: 1.1em;
    padding-left: 0.8rem; }
  .bottom_bar_wrap h3 {
    font-size: 2.5em; } }

.cls-one {
  fill: #381345; }

.cls-two {
  fill: #ffffff; }

.cls-1 {
  fill: url(#linear-gradient); }

.cls-2 {
  opacity: 0.5;
  isolation: isolate;
  fill: url(#linear-gradient-2); }

.cls-1_one {
  fill: url(#linear-gradient); }

.cls-2_two {
  fill: url(#linear-gradient-2); }

.cls-3_three {
  font-size: 32px;
  fill: #fff;
  font-family: AveriaSansLibre-Regular, Averia Sans Libre; }

.cls-4_four {
  letter-spacing: 0em; }

.cls-5_five {
  letter-spacing: -0.01em; }

.form-group_1_ac {
  position: relative;
  margin: 0;
  margin-bottom: 0.8rem; }
  .form-group_1_ac label {
    position: absolute;
    font-family: 'Muli', sans-serif;
    margin-top: -1.3rem; }
  .form-group_1_ac img {
    position: absolute;
    width: 13%;
    margin-top: 0.45rem;
    margin-left: 10rem; }
  .form-group_1_ac input {
    background-color: #afb0be;
    outline: none;
    transition: background-color 350ms ease 0s;
    color: white;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: solid 2px #AFB0BE;
    width: 13rem;
    height: 2rem; }
  .form-group_1_ac input::placeholder {
    color: white;
    font-family: 'Muli', sans-serif;
    padding-left: 0.5rem; }
  .form-group_1_ac input:focus {
    background-color: #f8669f;
    color: white;
    border: solid 2px #f8669f; }

.form-group_2_ac {
  position: relative;
  margin-bottom: 0.8rem; }
  .form-group_2_ac label {
    position: absolute;
    font-family: 'Muli', sans-serif;
    margin-top: -1.3rem; }
  .form-group_2_ac img {
    position: absolute;
    width: 10%;
    margin-top: 0.35rem;
    margin-left: 10.3rem; }
  .form-group_2_ac input {
    background-color: #afb0be;
    outline: none;
    transition: background-color 350ms ease 0s, border 350ms ease 0s;
    color: white;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: solid 2px #AFB0BE;
    width: 13rem;
    height: 2rem; }
  .form-group_2_ac input::placeholder {
    color: white;
    font-family: 'Muli', sans-serif;
    padding-left: 0.5rem; }
  .form-group_2_ac input:focus {
    background-color: #f8669f;
    color: white;
    border: solid 2px #f8669f; }

.form-group_3_ac {
  position: relative;
  margin: 0; }
  .form-group_3_ac label {
    position: absolute;
    font-family: 'Muli', sans-serif;
    margin-top: -1.3rem; }
  .form-group_3_ac img {
    position: absolute;
    width: 10%;
    margin-top: 0.35rem;
    margin-left: 10.3rem; }
  .form-group_3_ac input {
    background-color: #afb0be;
    outline: none;
    transition: background-color 350ms ease 0s, border 350ms ease 0s;
    color: white;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: solid 2px #AFB0BE;
    width: 13rem;
    height: 2rem; }
  .form-group_3_ac input::placeholder {
    color: white;
    font-family: 'Muli', sans-serif;
    padding-left: 0.5rem; }
  .form-group_3_ac input:focus {
    background-color: #f8669f;
    color: white;
    border: solid 2px #f8669f; }

.no_account_wrap_ac {
  display: flex;
  justify-content: flex-start; }
  .no_account_wrap_ac h4 {
    width: 100%;
    position: fixed;
    bottom: 2.3rem;
    left: 0.7rem;
    color: white;
    z-index: 100;
    font-family: 'Muli', sans-serif;
    font-style: italic;
    font-size: 0.7em; }

@media screen and (min-width: 375px) {
  .no_account_wrap_ac h4 {
    bottom: 2.9rem;
    font-size: 0.8em; } }

@media screen and (min-width: 414px) {
  .no_account_wrap_ac h4 {
    bottom: 3.1rem;
    font-size: 1em; } }

.spotify_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 22%; }
  .spotify_wrap h3 {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 1.1em;
    font-weight: 100;
    margin-top: 5%;
    color: #371443; }

.spotify_logo {
  width: 100px;
  height: 100px; }

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; }

.bottom_bar_cancel_wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 0; }
  .bottom_bar_cancel_wrap .bottom_cancel {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: -1; }
  .bottom_bar_cancel_wrap h3 {
    position: absolute;
    color: white;
    bottom: -0.4rem;
    right: 2rem;
    font-family: 'Averia Sans Libre', cursive;
    font-size: 1.7em; }

.btn--login {
  border-radius: 50px;
  width: 11rem;
  height: 2.7rem;
  border: none;
  background-image: linear-gradient(bottom, #2dd5cc 0%, #2dd5cc 100%);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 0px #2FB8BA, 0px 4px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  margin: 3.5rem 0 0 0;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 1em;
  font-style: italic;
  color: #371443; }

.btn--login:active {
  background-image: linear-gradient(bottom, #22aaa4 0%, #22aaa4 100%);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 0px #248d8f, 0px 4px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5); }

.spotify_pin_wrap {
  width: 100%;
  background-color: #ededf7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .spotify_pin_wrap h3 {
    font-family: 'Averia Sans Libre', cursive;
    color: #371443;
    font-size: 1.5em;
    font-weight: 100;
    margin: 0.5rem 0 0.9rem 0; }
  .spotify_pin_wrap img {
    width: 55px;
    height: 55px;
    margin-top: 1rem;
    margin-bottom: 0.1rem; }

.spotify_pin_intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; }
  .spotify_pin_intro h3 {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 1.5em;
    font-weight: 100;
    margin: 0.5rem 0 1rem 0; }
  .spotify_pin_intro h4 {
    font-family: 'Muli', sans-serif;
    padding: 0 2.5rem 0 2.5rem;
    margin: 0 0 2rem 0;
    font-weight: 100;
    text-align: center; }

.spotify_search_bar {
  position: relative;
  margin: 0;
  margin-bottom: 1.2rem; }
  .spotify_search_bar label {
    position: absolute;
    font-family: 'Muli', sans-serif;
    margin-top: -1.3rem; }
  .spotify_search_bar img {
    position: absolute;
    width: 13%;
    margin-top: -0.2rem;
    margin-left: 10rem; }
  .spotify_search_bar input {
    background-color: #afb0be;
    outline: none;
    transition: background-color 350ms ease 0s;
    color: white;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: solid 2px #AFB0BE;
    width: 13rem;
    height: 2rem; }
  .spotify_search_bar input::placeholder {
    color: white;
    font-family: 'Muli', sans-serif;
    padding-left: 0.5rem; }
  .spotify_search_bar input:focus {
    background-color: #f8669f;
    color: white;
    border: solid 2px #f8669f; }

.flex_connect {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 0 0.75rem 0; }
  .flex_connect .connect_user {
    font-family: 'Muli', sans-serif;
    font-size: 1em;
    font-weight: 100;
    margin: 0.2rem 0 1.2rem 0; }

.playlist_suggestions_wrap {
  margin-bottom: 1.2rem; }
  .playlist_suggestions_wrap .suggestions_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .playlist_suggestions_wrap .suggestions_flex h2 {
      color: #371443;
      font-family: 'Averia Sans Libre', cursive;
      font-size: 1.15em;
      font-weight: 100;
      margin-bottom: 0.6rem; }
  .playlist_suggestions_wrap h5 {
    font-family: 'Muli', sans-serif;
    font-size: 0.8em;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0.2rem;
    color: #371443; }
  .playlist_suggestions_wrap .song_info {
    position: relative; }
    .playlist_suggestions_wrap .song_info .song_flex {
      width: 100%;
      height: 70px;
      background-color: #e2e2eb;
      margin-bottom: 2px;
      padding-left: 6rem;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      background: linear-gradient(to right, #e2e2eb 75%, #D3D3E5 25%); }
      .playlist_suggestions_wrap .song_info .song_flex h6 {
        font-family: 'Muli', sans-serif;
        font-size: 1em;
        margin: 0;
        font-weight: 300;
        margin-bottom: 5px;
        margin-left: 0;
        color: #371443; }
      .playlist_suggestions_wrap .song_info .song_flex h6 + h6 {
        font-size: 0.75em; }
    .playlist_suggestions_wrap .song_info .temp {
      width: 70px;
      height: 70px;
      position: absolute;
      margin-top: -4.5rem;
      left: 0; }
    .playlist_suggestions_wrap .song_info .add {
      width: 35px;
      position: absolute;
      margin-top: -2.7rem;
      right: 2rem; }

body {
  background-color: #323a46;
  font-family: 'Open Sans', sans-serif; }

.overlay {
  background: rgba(255, 255, 255, 0.75);
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 200ms ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 0; }

.modal {
  background-color: #FFF;
  border-radius: 3px;
  bottom: 50%;
  left: 0;
  max-width: 380px;
  margin: 0 auto;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  transition: all 600ms ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 999; }

.btn_spot_modal_wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem; }
  .btn_spot_modal_wrap .btn_correct {
    padding: 10px 10px 10px 10px;
    border-radius: 25px;
    background-color: #2DD5CC;
    font-size: 1rem;
    font-weight: 500;
    min-width: 140px;
    box-shadow: 0px 3px 0px #23B8BB;
    border: #155658;
    font-family: 'Muli', sans-serif;
    font-size: 1.2em; }
  .btn_spot_modal_wrap .btn_incorrect {
    padding: 10px 10px 10px 10px;
    border-radius: 25px;
    background-color: white;
    font-size: 1rem;
    font-weight: 500;
    min-width: 140px;
    box-shadow: 0px 3px 0px #F2F2F2B8;
    border: #CCCCCC;
    font-family: 'Muli', sans-serif;
    font-size: 1.2em; }

.warning_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 8.5rem; }
  .warning_flex .warning_mess {
    border-radius: 20px;
    width: 80%;
    background-color: #ED568C; }
    .warning_flex .warning_mess p {
      color: white;
      font-family: 'Muli', sans-serif; }

.form_pass_reset_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; }

.pass_reset_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .pass_reset_wrap h3 {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 1.3em;
    font-weight: 100;
    margin-top: 30%;
    color: #371443; }

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; }

.bottom_bar_cancel_wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 0; }
  .bottom_bar_cancel_wrap .bottom_cancel {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 0; }
  .bottom_bar_cancel_wrap h3 {
    position: absolute;
    color: white;
    bottom: -0.4rem;
    right: 2rem;
    font-family: 'Averia Sans Libre', cursive;
    font-size: 1.7em; }

.btn--login {
  border-radius: 50px;
  width: 11rem;
  height: 2.7rem;
  border: none;
  background-image: linear-gradient(bottom, #2dd5cc 0%, #2dd5cc 100%);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 0px #2FB8BA, 0px 4px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  margin: 3.5rem 0 0 0;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 1em;
  font-style: italic;
  color: #371443; }

.btn--login:active {
  background-image: linear-gradient(bottom, #22aaa4 0%, #22aaa4 100%);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 0px #248d8f, 0px 4px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5); }

.form-group_pass {
  position: relative;
  margin: 0;
  margin-bottom: 1.2rem; }
  .form-group_pass label {
    position: absolute;
    font-family: 'Muli', sans-serif;
    margin-top: -1.3rem; }
  .form-group_pass img {
    position: absolute;
    width: 26.5px;
    height: 26.5px;
    margin-top: 0.45rem;
    margin-left: 10.75rem; }
  .form-group_pass .email_move_down {
    position: absolute;
    width: 26.5px;
    height: 26.5px;
    margin-top: 0.6rem;
    margin-left: 10.75rem; }
  .form-group_pass input {
    background-color: #afb0be;
    outline: none;
    transition: background-color 350ms ease 0s;
    color: white;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: solid 2px #AFB0BE;
    width: 13rem;
    height: 2rem; }
  .form-group_pass input::placeholder {
    color: white;
    font-family: 'Muli', sans-serif;
    padding-left: 0.5rem; }
  .form-group_pass input:focus {
    background-color: #f8669f;
    color: white;
    border: solid 2px #f8669f; }

.flex_confirm_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.pinned_container {
  margin-bottom: 1.2rem; }
  .pinned_container .pin_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .pinned_container .pin_flex h2 {
      color: #371443;
      font-family: 'Averia Sans Libre', cursive;
      font-size: 1.3em;
      margin-bottom: 0; }
  .pinned_container h5 {
    font-family: 'Muli', sans-serif;
    font-size: 0.8em;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0.2rem;
    color: #371443; }
  .pinned_container .song_info {
    position: relative; }
    .pinned_container .song_info .song_flex {
      width: 100%;
      height: 70px;
      background-color: #e2e2eb;
      margin-bottom: 2px;
      padding-left: 6rem;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      background: linear-gradient(to right, #e2e2eb 75%, #D3D3E5 25%); }
      .pinned_container .song_info .song_flex h6 {
        font-family: 'Muli', sans-serif;
        font-size: 1em;
        margin: 0;
        font-weight: 300;
        margin-bottom: 5px;
        margin-left: 0;
        color: #371443; }
    .pinned_container .song_info .temp {
      width: 70px;
      height: 70px;
      position: absolute;
      margin-top: -4.5rem;
      left: 0; }
    .pinned_container .song_info .swap_icon {
      width: 35px;
      height: 35px;
      position: absolute;
      margin-top: -3.4rem;
      right: 1.2rem; }

.uncollect_container {
  margin-bottom: 1.2rem; }
  .uncollect_container .uncollect_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .uncollect_container .uncollect_flex h2 {
      color: #371443;
      font-family: 'Averia Sans Libre', cursive;
      font-size: 1.3em;
      margin-bottom: 1rem; }
  .uncollect_container h5 {
    font-family: 'Muli', sans-serif;
    font-size: 0.8em;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0.2rem;
    color: #371443; }
  .uncollect_container .song_info {
    position: relative; }
    .uncollect_container .song_info .song_flex {
      width: 100%;
      height: 70px;
      background-color: #e2e2eb;
      margin-bottom: 2px;
      padding-left: 6rem;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      background: linear-gradient(to right, #e2e2eb 75%, #D3D3E5 25%); }
      .uncollect_container .song_info .song_flex h6 {
        font-family: 'Muli', sans-serif;
        font-size: 1em;
        margin: 0;
        font-weight: 300;
        margin-bottom: 5px;
        margin-left: 0;
        color: #371443; }
    .uncollect_container .song_info .temp {
      width: 70px;
      height: 70px;
      position: absolute;
      margin-top: -4.5rem;
      left: 0; }
    .uncollect_container .song_info .add {
      width: 35px;
      position: absolute;
      margin-top: -2.7rem;
      right: 2rem; }

.collect_container {
  margin-bottom: 1.2rem; }
  .collect_container .collect_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .collect_container .collect_flex h2 {
      color: #371443;
      font-family: 'Averia Sans Libre', cursive;
      font-size: 1.3em;
      margin-bottom: 1rem; }
  .collect_container h5 {
    font-family: 'Muli', sans-serif;
    font-size: 0.8em;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0.2rem;
    color: #371443; }
  .collect_container .song_info {
    position: relative; }
    .collect_container .song_info .song_flex {
      width: 100%;
      height: 70px;
      background-color: #e2e2eb;
      margin-bottom: 2px;
      padding-left: 6rem;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      background: linear-gradient(to right, #e2e2eb 75%, #D3D3E5 25%); }
      .collect_container .song_info .song_flex h6 {
        font-family: 'Muli', sans-serif;
        font-size: 1em;
        margin: 0;
        font-weight: 300;
        margin-bottom: 5px;
        margin-left: 0;
        color: #371443; }
    .collect_container .song_info .temp {
      width: 70px;
      height: 70px;
      position: absolute;
      margin-top: -4.5rem;
      left: 0; }
    .collect_container .song_info .add {
      width: 35px;
      position: absolute;
      margin-top: -2.7rem;
      right: 2rem; }

.see_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem; }

.see-more-btn {
  border-radius: 50px;
  width: 11rem;
  height: 2.7rem;
  border: none;
  background-image: linear-gradient(bottom, #2dd5cc 0%, #2dd5cc 100%);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 0px #2FB8BA, 0px 4px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  font-size: 1em;
  font-style: italic;
  color: #371443; }

.see-more-btn:active {
  background-image: linear-gradient(bottom, #22aaa4 0%, #22aaa4 100%);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 0px #248d8f, 0px 4px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5); }

html, body {
  background: #F8F8FF;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

/* The Modal (background) */
.modal {
  color: #371244;
  font-family: 'Muli', sans-serif;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(46, 25, 54, 0.7);
  /* Black w/ opacity */ }

.modal h1 {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 45px 15px 0px 15px; }

.modal p {
  padding: 15px;
  padding-bottom: 0px;
  line-height: 1.8rem; }

/* Modal Content/Box */
.modal-content {
  background-color: rgba(248, 248, 255, 0.94);
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #2E1936;
  border-radius: 25px;
  width: 80%;
  /* Could be more or less, depending on screen size */
  min-height: 300px;
  box-shadow: 0 5px 25px rgba(46, 25, 54, 0.27); }

.slider {
  margin: 0 auto;
  max-width: 940px; }

.slide_viewer {
  min-height: 330px;
  overflow: hidden;
  position: relative; }

.slide_group {
  height: 100%;
  position: relative;
  width: 100%; }

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%; }

.slide:first-child {
  display: block; }

.slide:nth-of-type(1) {
  /*   background: #D7A151; */ }

.slide:nth-of-type(2) {
  /*   background: #F4E4CD; */ }

.slide:nth-of-type(3) {
  /*   background: #C75534; */ }

.slide:nth-of-type(4) {
  /*   background: #D1D1D4; */ }

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  margin: 25px; }

a.slide_btn {
  color: rgba(248, 248, 255, 0.35);
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.slide_btn.active {
  color: #2e1936;
  cursor: pointer;
  font-size: 48px; }

.slide_btn:hover {
  color: rgba(46, 25, 54, 0.5);
  cursor: pointer; }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 18px; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px; }
  .next_btn {
    right: 50px; } }

svg {
  display: block;
  margin: auto; }

button {
  border-radius: 25px;
  background-color: #2DD5CC;
  font-size: 1rem;
  font-weight: 500;
  min-width: 140px;
  box-shadow: 0px 3px 0px #23B8BB;
  border: #155658; }

.bn-align {
  padding: 15px;
  display: flex;
  justify-content: center; }

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; }

.user_info {
  margin-top: 1rem; }
  .user_info h4 {
    font-size: 1.3em;
    color: #371443;
    font-family: 'Averia Sans Libre', cursive;
    font-weight: 100;
    margin: 0;
    padding-bottom: 0.25rem; }

.user {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../graphics/anthony.jpg"); }

.user-pin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .user-pin h2 {
    color: #371443;
    font-family: 'Averia Sans Libre', cursive;
    font-weight: 100;
    font-size: 1.2em;
    margin-top: 2rem;
    margin-bottom: 0; }

.user_info {
  position: relative; }
  .user_info .user_flex {
    width: 100%;
    height: 70px;
    background-color: #e2e2eb;
    margin-bottom: 2px;
    padding-left: 6rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background: linear-gradient(to right, #e2e2eb 75%, #D3D3E5 25%); }
    .user_info .user_flex h6 {
      font-family: 'Muli', sans-serif;
      font-size: 1em;
      margin: 0;
      font-weight: 300;
      margin-bottom: 5px;
      margin-left: 0;
      color: #371443; }
  .user_info .user_temp {
    width: 70px;
    height: 70px;
    position: absolute;
    margin-top: -4.5rem;
    left: 0; }
  .user_info .user_edit {
    width: 35px;
    position: absolute;
    margin-top: -2.7rem;
    right: 1.1rem; }

.button_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 1.25rem; }

.profile_spot_button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #371443;
  margin-top: 1.15rem;
  padding: 10px 10px 10px 10px;
  border-radius: 25px;
  background-color: #2DD5CC;
  font-size: 1rem;
  font-weight: 500;
  min-width: 140px;
  box-shadow: 0px 3px 0px #23B8BB;
  border: #155658;
  font-family: 'Muli', sans-serif;
  font-size: 1.1em;
  font-style: italic; }
  .profile_spot_button img {
    width: 45px;
    height: 45px;
    margin: 0.3rem 0.8rem 0.3rem 0.8rem; }

.profile_reset_button {
  margin-top: 1.15rem;
  padding: 10px 10px 10px 10px;
  border-radius: 25px;
  background-color: #2DD5CC;
  font-size: 1rem;
  font-weight: 500;
  min-width: 140px;
  box-shadow: 0px 3px 0px #23B8BB;
  border: #155658;
  font-family: 'Muli', sans-serif;
  font-size: 1.1em;
  font-style: italic;
  color: #371443; }

.delete_account_btn {
  margin-top: 1.5rem;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  border: none;
  padding-bottom: 1.5rem;
  font-family: 'Muli', sans-serif;
  font-size: 0.8em;
  font-style: italic;
  font-weight: 100; }

.nav img {
  width: 100%; }

.upcoming h2 {
  font-family: 'Averia Sans Libre', cursive;
  margin: 0;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 10%;
  padding: 0;
  color: #371443; }

.my_journal h2 {
  margin-left: 10px;
  color: #371443;
  font-family: 'Averia Sans Libre', cursive; }

.my_journal div {
  position: relative; }
  .my_journal div .flex {
    width: 100%;
    height: 100px;
    background-color: #e2e2eb;
    margin-bottom: 2px;
    padding-right: 7.2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column; }
    .my_journal div .flex h6 {
      font-family: 'Muli', sans-serif;
      font-size: 0.8em;
      margin: 0;
      margin-bottom: 5px; }
  .my_journal div .legend {
    width: 98.5px;
    height: 98.5px;
    position: absolute;
    margin-top: -6.3rem;
    left: 69.5%; }

.upcoming_events {
  width: 100%;
  background-color: #ededf7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .upcoming_events h4 {
    font-family: 'Muli', sans-serif;
    color: #371443;
    font-style: italic;
    font-size: 0.9em; }
  .upcoming_events img {
    width: 20%;
    margin-top: 0;
    margin-bottom: 15px; }

.entries {
  width: 100%;
  background-color: #ededf7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .entries h4 {
    font-family: 'Muli', sans-serif;
    color: #371443;
    font-size: 0.95em;
    margin-bottom: 0.5rem; }
  .entries h6 {
    font-family: 'Muli', sans-serif;
    color: #371443;
    font-size: 0.7em;
    margin-bottom: 0.5rem; }

.plus_button {
  width: 100%;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: flex-end; }
