<!-- PAGE CONTENT -->

		<!-- Portrait View Start -->
		<div class="port_wrap">

				<div class="intro_wrap">
					<h3>souvinear</h3>
					<svg xmlns="http://www.w3.org/2000/svg" width="174.61" height="89.4" viewBox="-35 -20 300 89.4">
					  <g class="ticket_11" id="Ticket_11">
					    <path class="cls-one" d="M1015,890.74v19.42s16.15,6,16.15,26.34S1015,961.87,1015,961.87v18.26h127.46v-89.4Z" transform="translate(-1015 -890.74)"/>
					    <rect class="cls-two" x="115.66" y="5.99" width="4" height="17.99" rx="2" ry="2"/>
					    <rect class="cls-two" x="115.66" y="33.5" width="4" height="17.99" rx="2" ry="2"/>
					    <rect class="cls-two" x="115.66" y="61.01" width="4" height="17.99" rx="2" ry="2"/>

					  </g>
					  <g class="ticket_22" id="Ticket_22">
					    <path class="cls-one" d="M1148.6,890.74v89.4h61V961.36s-15.38-8.52-15.38-25.92,15.38-25.35,15.38-25.35V890.74Z" transform="translate(-1015 -890.74)"/>
					    <rect class="cls-two" x="139.8" y="8.19" width="4" height="17.99" rx="2" ry="2"/>
					    <rect class="cls-two" x="139.8" y="35.71" width="4" height="17.99" rx="2" ry="2"/>
					    <rect class="cls-two" x="139.8" y="63.22" width="4" height="17.99" rx="2" ry="2"/>
					     <rect class="cls-two bar_scan" x="0" y="0" width="10" height="90" rx="2" ry="2"/>
					  </g>
					</svg>
				</div>

                <form name="loginForm" class="form-wrap" role="form" ng-controller="loginCtrl">
                    <div class="form-group_1">
                         <img src="graphics/user_white.svg" alt="User Icon">

                                <input type="text"
                                       id="username" placeholder="Username" name="username" ng-model="username" onfocus="this.placeholder = ''" required/>
                    </div>
                    <div class="form-group_2">
                        <img src="graphics/lock_white.svg" alt="Lock Icon">
                                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password" onfocus="this.placeholder = ''" required/>
                                
                    </div>
                    <div class="space" id="message"></div>
                     <div class="log-in_wrap">
                            <a href="#/main"><button class="log-in" type="submit" ng-click="" data-ng-disabled="loginForm.$invalid">
                                <h4>login</h4>
                            </button>
                                </a>
                    </div>
                        <div class="space-4"></div>
                    
                    <a href="#/signup">
                    
                    <div class="no_account_wrap"><h4>no account?</h4></div>
                    
                    <div class="bottom_bar_wrap">
   					  <svg class="bottom_signup" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 375 97.88">
					    <linearGradient id="linear-gradient" x1="-451.01" y1="556.78" x2="-449.83" y2="556.78" gradientTransform="matrix(375, 0, 0, -97.88, 169048, 54545.9)" gradientUnits="userSpaceOnUse">
					      <stop offset="0" stop-color="#2dd5cc"/>
					      <stop offset="1" stop-color="#fe5893"/>
					    </linearGradient>
					    <linearGradient id="linear-gradient-2" y1="26.55" x2="374.86" y2="26.55" gradientUnits="userSpaceOnUse">
					      <stop offset="0" stop-color="#92e6e5"/>
					      <stop offset="1" stop-color="#f8a9ca"/>
					    </linearGradient>
					    <g id="BOTTOMbutton">
					      <g id="Group">
					        <path id="Path-3-Copy-2" class="cls-1" d="M0,.51C62.85,12.84,74.79,13.29,143.12,10.89,218.71,4.17,277.58-6.48,375,6V98L0,98.1Z" transform="translate(0 -0.22)"/>
					      </g>
					      <path id="Path_337" data-name="Path 337" class="cls-2" d="M0,.49l0,50s20.24,5.27,70,0,61.19-12.37,130-27.06c34-7.86,71.62-18.79,118.46-17s56.43,10.27,56.43,10.27V5.89S334.53.51,301,.35c-15.23-.07-58.25-1.5-144,9.4a678,678,0,0,1-91.71,1.08C29.09,6.76,0,.49,0,.49Z" transform="translate(0 -0.22)"/>
					   </g>
					</svg>
                         
                        <h3>Signup</h3>
                    </div>
                    </a>
                </form>

                
                
            </div> <!-- Portrait View End  -->
