<!-- PAGE CONTENT -->

		<!-- Portrait View Start -->
		<div class="port_wrap">


			<div class="spotify_pin_intro">
				<h3>choose a song to pin!</h3>
				<h4>Pinned songs will appear at hotspots for other users to collect.  Make it a good one!</h4>
			</div>


			<div class="overlay"></div>
			<div class="modal">
				<div class="warning_flex">
				  	<div class="warning_mess">
				  		<p>You chose "All of Me" as your pinned song.  Is this correct?</p>
				  	</div>
			  	</div>
			  	<div class="btn_spot_modal_wrap">
				  	<button class="btn_correct">correct</button>
				  	<button class="btn_incorrect">incorrect</button>
			  	</div>
			  </div>
			</div>

			

			
					<div class="spotify_pin_wrap">
						<img src="graphics/spotify_purple.svg" alt="Spotify Purple Icon">
						<h3>Search Spotify:</h3>
						<div class="spotify_search_bar">
					      <img src="graphics/magnify.svg" alt="Search Icon">
					      <input type="text" name="spot_search" id="spot_search"  onfocus="this.placeholder = ''">
				   	 	</div>
					</div>
					<div class="flex_connect">
						<h3 class="connect_user">connected to: ant_green04 - edit</h3>
					</div>
			
			

			<div class="playlist_suggestions_wrap">
				<div class="suggestions_flex">
					<h2>suggestions from your playlist!</h2>
				</div>
				<div class="song_info">
					<div class="song_flex">
						<h6>John Legend</h6>
						<h6>All of Me</h6>
					</div>
					<img class="temp" src="graphics/legend.jpeg" alt="John Legend">
					<h5 class="add modal_open">pin</h5>
				</div>

				<div class="song_info">
					<div class="song_flex">
						<h6>John Legend</h6>
						<h6>All of Me</h6>
					</div>
					<img class="temp" src="graphics/legend.jpeg" alt="John Legend">
					<h5 class="add">pin</h5>
				</div>

				<div class="song_info">
					<div class="song_flex">
						<h6>John Legend</h6>
						<h6>All of Me</h6>
					</div>
					<img class="temp" src="graphics/legend.jpeg" alt="John Legend">
					<h5 class="add">pin</h5>
				</div>
			</div>


		</div>
		<!-- Portrait View End  -->