<!-- PAGE CONTENT -->

		<!-- Portrait View Start -->
		<div class="port_wrap">

				<div class="pass_reset_wrap">
					 <h3>reset password</h3>
				</div>


				<div class="form_pass_reset_wrap">

				    <div class="form-group_pass">
				      <img class="email_move_down" src="graphics/email.svg" alt="Lock Icon">
				      <input type="password" name="password" id="password" placeholder="Enter email address">
				    </div>

				    <div class="form-group_pass">
				      <img src="graphics/lock_white.svg" alt="Lock Icon">
				      <input type="password" name="password" id="password" placeholder="Enter old password">
				    </div>

	                 <div class="form-group_pass">
				      <img src="graphics/lock_white.svg" alt="Lock Icon">
				      <input type="password" name="password-confirm" id="password-confirm" placeholder="Enter new password">
				    </div>

				    <div class="form-group_pass">
				      <img src="graphics/lock_white.svg" alt="Lock Icon">
				      <input type="password" name="password-confirm" id="password-confirm" placeholder="Enter new password">
				    </div>
				 </div>

				<div class="flex_confirm_btn">
					<button class="btn btn--login" id="js-btn-login">confirm</button>
				</div>


				<div class="bottom_bar_cancel_wrap" onclick="jmp2LocalPage('')">
					<svg class="bottom_cancel" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 375 97.88">
					    <linearGradient id="linear-gradient" x1="-451.01" y1="556.78" x2="-449.83" y2="556.78" gradientTransform="matrix(375, 0, 0, -97.88, 169048, 54545.9)" gradientUnits="userSpaceOnUse">
					      <stop offset="0" stop-color="#2dd5cc"/>
					      <stop offset="1" stop-color="#fe5893"/>
					    </linearGradient>
					    <linearGradient id="linear-gradient-2" y1="26.55" x2="374.86" y2="26.55" gradientUnits="userSpaceOnUse">
					      <stop offset="0" stop-color="#92e6e5"/>
					      <stop offset="1" stop-color="#f8a9ca"/>
					    </linearGradient>
					    <g id="BOTTOMbutton">
					      <g id="Group">
					        <path id="Path-3-Copy-2" class="cls-1" d="M0,.51C62.85,12.84,74.79,13.29,143.12,10.89,218.71,4.17,277.58-6.48,375,6V98L0,98.1Z" transform="translate(0 -0.22)"/>
					      </g>
					      <path id="Path_337" data-name="Path 337" class="cls-2" d="M0,.49l0,50s20.24,5.27,70,0,61.19-12.37,130-27.06c34-7.86,71.62-18.79,118.46-17s56.43,10.27,56.43,10.27V5.89S334.53.51,301,.35c-15.23-.07-58.25-1.5-144,9.4a678,678,0,0,1-91.71,1.08C29.09,6.76,0,.49,0,.49Z" transform="translate(0 -0.22)"/>
					   </g>
					</svg>
                    <a href="#/settings"><h3>Cancel</h3></a>
				</div>

		</div>

		<!-- Portrait View End  -->