<!-- PAGE CONTENT -->

		<!-- Portrait View Start -->
		<div class="port_wrap">


			<div class="profile">
				<div class="user"></div>
				<div class="user_info">
					<h4>Anthony Green</h4>
					<h4>Doylestown, PA</h4>
				</div>
			</div>

			<div class="overlay"></div>
			<div class="modal inactive">
				<div class="warning_flex">
				  	<div class="warning_mess">
				  		<p>You're about to delete your account!  Are you sure you want to do this?  This cannot be undone.</p>
				  	</div>
			  	</div>
			  	<div class="btn_spot_modal_wrap">
				  	<button class="btn_correct">keep</button>
				  	<button class="btn_incorrect">discard</button>
			  	</div>
			  </div>

			<div class="user-pin">
				<h2>pinned song</h2>
			</div>

			<div class="user_info">
				<div class="user_flex">
					<h6>John Legend</h6>
					<h6>All of Me</h6>
				</div>
				<img class="user_temp" src="graphics/legend.jpeg" alt="John Legend">
                <a href="#/pin"><h5 class="user_edit">edit</h5></a>
			</div>

			<div class="button_section">
				<a href="#/spotify"><button class="profile_spot_button">Connect to Spotify
					<img src="graphics/spotify_purple.svg" alt="Spotify Purple Icon">
                    </button></a>
                <a href="#/reset"><button class="profile_reset_button">reset password</button></a>
				<button class="profile_reset_button">log out</button>
				<button class="delete_account_btn modal_open" href="">Delete Account</button>

			</div>
					
			</div>
		
		<!-- Portrait View End  -->