
.form_pass_reset_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.pass_reset_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  h3 {
      font-family: 'Averia Sans Libre', cursive;
      font-size: 1.3em;
      font-weight: 100;
      margin-top: 30%;
      color: #371443;
  }
}

.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.bottom_bar_cancel_wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 0;
  .bottom_cancel {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 0;
  }
  h3 {
    position: absolute;
    color: white;
    bottom: -0.4rem;
    right: 2rem;
    font-family: 'Averia Sans Libre', cursive;
    font-size: 1.7em;
  }
}

.btn--login {
      border-radius: 50px;
      width: 11rem;
      height: 2.7rem;
      border: none;
      background-image: linear-gradient(bottom, rgb(45,213,204) 0%, rgb(45,213,204) 100%);
      text-shadow: 0px -1px 0px rgba(0,0,0,.5);
      box-shadow: 0px 4px 0px #2FB8BA, 0px 4px 0px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);


      margin: 3.5rem 0 0 0;
      font-family: 'Muli', sans-serif;
      font-weight: 300;
      font-size: 1em;
      font-style: italic;
      color: #371443;
  }

    .btn--login:active {
      background-image: linear-gradient(bottom, rgb(34, 170, 164) 0%, rgb(34, 170, 164) 100%);
      text-shadow: 0px -1px 0px rgba(0,0,0,.5);
      box-shadow: 0px 4px 0px #248d8f, 0px 4px 0px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    }





.form-group_pass {
  position: relative;
  margin: 0;
  margin-bottom: 1.2rem;
  label {
    position: absolute;
    font-family: 'Muli', sans-serif;
    margin-top: -1.3rem;
  }
  img {
    position: absolute;
    width: 26.5px;
    height: 26.5px;
    margin-top: 0.45rem;
    margin-left: 10.75rem;
  }
  .email_move_down {
    position: absolute;
    width: 26.5px;
    height: 26.5px;
    margin-top: 0.6rem;
    margin-left: 10.75rem;
}
  input {
    background-color: #afb0be;
    outline: none;
    transition: background-color 350ms ease 0s;
    color: white;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: solid 2px #AFB0BE;
    width: 13rem;
    height: 2rem;
  }
  input::placeholder {
    color: white;
    font-family: 'Muli', sans-serif;
    padding-left: 0.5rem;
  }
  input:focus {
    background-color: #f8669f;
    color: white;
    border: solid 2px #f8669f;
  }
}


.flex_confirm_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}













