.spotify_pin_wrap {
	width: 100%;
	background-color: #ededf7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	h4 {
		font-family: 'Muli', sans-serif;
		color: #371443;
		font-style: italic;
		font-size: 0.9em;
	}
	img {
		width: 55px;
		height: 55px;
		margin-top: 0;
		margin-bottom: 15px;
	}
}