.cls-one {
fill: #381345;
}

.cls-two {
fill: #ffffff;
}

.cls-1 {
fill: url(#linear-gradient);
}
.cls-2 {
opacity: 0.5;
isolation: isolate;
fill: url(#linear-gradient-2);
}


.cls-1_one {
fill: url(#linear-gradient);
}

.cls-2_two {
fill: url(#linear-gradient-2);
}

.cls-3_three {
font-size: 32px;
fill: #fff;
font-family: AveriaSansLibre-Regular, Averia Sans Libre;
}

.cls-4_four {
letter-spacing: 0em;
}

.cls-5_five {
letter-spacing: -0.01em;
}