* {
  box-sizing: border-box; 
}  

@import url('https://fonts.googleapis.com/css?family=Averia+Sans+Libre|Muli');

@import "log-in.scss";
@import "svg-styles.scss";
@import "create-account.scss";
@import "spotify-log-in.scss";
@import "spotify_pin.scss";
@import "spot_pin_modal.scss";
@import "pass_reset.scss";
@import "swap-box.scss";
@import "account-settings.scss";

.nav {
	img {
		width: 100%;
	}
}

.upcoming {
	h2 {
		font-family: 'Averia Sans Libre', cursive;
		margin: 0;
		margin-left: 10px;
		margin-bottom: 20px;
		margin-top: 10%;
		padding: 0;
		color: #371443;
	}
}

.my_journal {
	h2 {
		margin-left: 10px;
		color: #371443;
		font-family: 'Averia Sans Libre', cursive;
	}
	div {
		position: relative;
		.flex {
			width: 100%;
			height: 100px;
			background-color: #e2e2eb;
			margin-bottom: 2px;
			padding-right: 7.2rem;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			flex-direction: column;
			h6 {
				font-family: 'Muli', sans-serif;
				font-size: 0.8em;
				margin: 0;
				margin-bottom: 5px;
			}
		}
		.legend {
			width: 98.5px;
			height: 98.5px;
			position: absolute;
			margin-top: -6.3rem;
			left: 69.5%;
		}
	}
}

.upcoming_events {
	width: 100%;
	background-color: #ededf7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	h4 {
		font-family: 'Muli', sans-serif;
		color: #371443;
		font-style: italic;
		font-size: 0.9em;
	}
	img {
		width: 20%;
		margin-top: 0;
		margin-bottom: 15px;
	}
}

.entries {
	width: 100%;
	background-color: #ededf7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	h4 {
		font-family: 'Muli', sans-serif;
		color: #371443;
		font-size: 0.95em;
		margin-bottom: 0.5rem;
	}
	h6 {
		font-family: 'Muli', sans-serif;
		color: #371443;
		font-size: 0.7em;
		margin-bottom: 0.5rem;
	}
}

.plus_button {
	width: 100%;
	bottom: 0;
	position: fixed;
	display: flex;
	justify-content: flex-end;
}


 

@media only screen and (orientation: portrait) {

}




@media screen and (min-width: 375px) {


}





@media screen and (min-width: 414px) {

}









