<div class="port_wrap">
    <form action="php/concert_processing.php" method="post">
      <div id="gather">
		 
		 <div id="headliner-input-continer" class="first-container">
			 <div class="input-icons-container">
				 <img class="icon" src="graphics/headliner.svg">
			 	<img class="background-icon" src="graphics/inputcolorblock.svg">
			 </div>
          	<input type="text" name="headliner" placeholder="Headliner" id="headliner" class="text-input">
		  </div>
		  
		  <div id="opener-input-container" class="first-container">
			  <div class="input-icons-container">
				 <img class="icon" src="graphics/opener.svg">
			 	<img class="background-icon" src="graphics/inputcolorblock.svg">
			 </div>
          	<input type="text" name="supporting_act"  placeholder="Supporting Act" id="supporting_act" class="text-input">
		  </div>
        
		<div id="venue-input-container" class="second-container">
			<div class="input-icons-container">
				 <img class="icon" src="graphics/hotspot.svg">
			 	<img class="background-icon" src="graphics/inputcolorblock.svg">
			 </div>
          <input type="text" name="venue"  placeholder="Venue" id="venue" class="text-input">
        </div>
		  
		<div id="date-input-container" class="third-container">
			<div class="input-icons-container">
				 <img class="icon" src="graphics/">
			 	<img class="background-icon" src="graphics/inputcolorblock.svg">
			 </div>
          <input type="date" name="concert_date" id="concert_date" class="text-input" placeholder="date">
		</div>
     	
        <div id="date-input-container">
			<div class="input-icons-container">
				 <img class="icon" src="graphics/">
			 	<img class="background-icon" src="graphics/inputcolorblock.svg">
			 </div>
          <input type="time" name="concert_time" id="concert_time" class="text-input" placeholder="">
		</div>  
          
<!--
		<div id="photo-input-container">
			<input type="file" name="image" id="photoInput">  
		</div>
-->
		 
		<div id="journal-input-container"  class="container-padding">
			<div class="input-icons-container">
				 <img class="icon" src="graphics/journal.svg">
			 	<img class="background-icon"src="graphics/inputcolorblock.svg">
			 </div>
       <textarea type="text" name="entry" id="entry" placeholder="What was the best part of the night?" class="textarea"></textarea>
		</div>

      </div>
		
		<div id="collected-songs"></div>
		<div id="collected-badges"></div>
		
		<div id="save-entry-container">
			<button type="submit" name="submit"><img src="graphics/saveentry.svg"></button>
		</div>
    </form>
    
        <form action='php/logout_processing.php' method='post'>
    <input type='submit' name='submit' value='Log Out'>
    </form>
    
    <a href="index.php">Cancel</a>
	</div>