
.intro_wrap {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h3 {
      font-family: 'Averia Sans Libre', cursive;
      font-size: 3em;
      margin: 0;
      margin-top: 2rem;
      color: #371443;
  }
}

.form-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  margin-top: 4.5rem;
  margin-bottom: 3rem;
}

.form-group_1_fb {
  position: relative;
  margin: 0;
  margin-bottom: 1rem;
  label {
    position: absolute;
    font-family: 'Muli', sans-serif;
    margin-top: -1.3rem;
  }
  img {
    position: absolute;
    width: 13%;
    margin-top: -1.6rem;
    margin-left: 9rem;
  }
  input {
    background-color: #afb0be;
    outline: none;
    transition: background-color 350ms ease 0s;
    color: white;
    width: 13rem;
  }
  input::placeholder {
    color: white;
  }
  input:focus {
    background-color: #f8669f;
    color: white;
  }
}

.log-in_wrap_fb {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    .log-in_fb {
       border-radius: 50px;
       width: 70%;
       height: 4rem;
       border: none;
       background-color: #3b5998;
       h4 {
        margin: 0;
        margin: 0.7rem 0 0.7rem 0;
        font-family: 'Muli', sans-serif;
        color: white;
       }
  }
}

.divide_line {
  margin-top: 10%;
  h2 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
   font-size: 1em;
   font-family: 'Muli', sans-serif;
   span { 
    background:#fff; 
    padding:0 10px; 
  }
} 


}

.no_account_wrap_fb {
  display: flex;
  justify-content: flex-end;
  h4 {
    font-family: 'Muli', sans-serif;
    margin: 0;
    margin-right: 0.5rem;
    margin-top: 0rem;
  }
}

.bottom_bar_wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  .bottom_signup {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  h3 {
    position: absolute;
    color: white;
    bottom: -0.4rem;
    font-family: 'Averia Sans Libre', cursive;
    font-size: 1.5em;
  }
}




.ticket {
  display: flex; 
  justify-content: center;
  align-items: center;
}


@keyframes tear_two {
  0% {
   opacity: 1;
   transform: translate(0px,0px) rotate(0deg);
  }
  100% {
  opacity: 0;
  transform: translate(20px, -20px) rotate(-15deg);
  }
}


@keyframes scan {
  0% {
    opacity: 0;
    transform: translate(0,0);
  }
  50% {
    opacity: 1;
    transform: translate(190px,0);
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: translate(0px,0);
  }
}


.ticket_22 {
  z-index: 1;
  opacity: 1;
  transform: translate(0px,0px) rotate(0deg);
  transform-origin: center center;
  // animation: tear_two 250ms linear forwards 2450ms;  
}

.ticket_11 {
  z-index:1;
}

.bar_scan {
  opacity: 0;
  // animation: scan 1s ease-in-out forwards 1.5s;
  z-index: 2;
}


@media screen and (min-width: 375px) {
.intro_wrap {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h3 {
      font-family: 'Averia Sans Libre', cursive;
      font-size: 3.3em;
      margin: 0;
      margin-top: 2.5rem;
      color: #371443;
  }
}

.form_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.form-group_1_fb {
  position: relative;
  margin: 0;
  margin-bottom: 2.5rem;
  label {
    position: absolute;
    font-family: 'Muli', sans-serif;
    margin-top: -1.6rem;
    font-size: 1.3em;
  }
  img {
    position: absolute;
    width: 10%;
    margin-top: -1.6rem;
    margin-left: 12.5rem;
  }
  input {
    width: 15rem;
  }
}

.log-in_wrap_fb {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
    .log-in_fb {
       border-radius: 50px;
       width: 65%;
       height: 4rem;
       border: none;
       background-color: #3b5998;
       h4 {
        margin: 0;
        margin: 0.7rem 0 0.7rem 0;
        font-family: 'Muli', sans-serif;
        color: white;
       }
  }
}

.divide_line {
  margin-top: 11%;
  h2 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
   font-size: 1em;
   font-family: 'Muli', sans-serif;
   span { 
    background:#fff; 
    padding:0 10px; 
  }
} 
}

.no_account_wrap_fb {
  display: flex;
  justify-content: flex-end;
  h4 {
    font-family: 'Muli', sans-serif;
    margin: 0;
    margin-right: 0.5rem;
    margin-top: -1rem;
  }
}

.bottom_bar_wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  .bottom_signup {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  h3 {
    position: absolute;
    color: white;
    bottom: -0.5rem;
    font-family: 'Averia Sans Libre', cursive;
    font-size: 1.75em;
  }
}

}



@media screen and (min-width: 414px) {
  .intro_wrap {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3 {
        font-family: 'Averia Sans Libre', cursive;
        font-size: 4em;
        margin: 0;
        margin-top: 2.5rem;
        color: #371443;
    }
  }

  .form_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  .form-group_1_fb {
    position: relative;
    margin: 0;
    margin-bottom: 3.5rem;
    label {
      position: absolute;
      font-family: 'Muli', sans-serif;
      margin-top: -1.6rem;
      font-size: 1.3em;
    }
    img {
      position: absolute;
      width: 10%;
      margin-top: -1.6rem;
      margin-left: 12.5rem;
    }
    input {
      width: 18rem;
      height: 2rem;
    }
  }

.log-in_wrap_fb {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14%;
    .log-in_fb {
       border-radius: 50px;
       width: 70%;
       height: 5rem;
       border: none;
       background-color: #3b5998;
       h4 {
        margin: 0;
        margin: 0.7rem 0 0.7rem 0;
        font-family: 'Muli', sans-serif;
        font-size: 1.3em;
        color: white;
       }
  }
}

.divide_line {
  margin-top: 12%;
  h2 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
   font-size: 1em;
   font-family: 'Muli', sans-serif;
   span { 
    background:#fff; 
    padding:0 10px; 
  }
} 
}

.no_account_wrap_fb {
  display: flex;
  justify-content: flex-end;
  h4 {
    font-family: 'Muli', sans-serif;
    margin: 0;
    margin-right: 0.5rem;
    margin-top: -2.5rem;
  }
}

  .bottom_bar_wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    .bottom_signup {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 41%;
      z-index: -1;
    }
    h3 {
      position: absolute;
      color: white;
      bottom: -0.5rem;
      font-family: 'Averia Sans Libre', cursive;
      font-size: 2em;
    }
  }
}





